:root {
  --red-brown: #A52A2A;
  --butter-scotch: #EDDA74;
  --left-margin: 27%;
  --buff:#DAA06D;
  --dark-brown:#800020;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Home page */

.delNav{
  text-align: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  color:  var(--red-brown);
  font-weight: 700;
  background-color: var(--butter-scotch)  ;
}

/* navbar */
.nav{
  padding: 1rem;
  background-color: var(--buff);
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.company{
  color: var(--dark-brown);
  font-size: 2.3rem;
  font-weight: 800;
  margin-left: var(--left-margin);
}
.source{
  color: var(--dark-brown);
  font-size: 1.32rem;
  font-weight: 800;
  margin-left: var(--left-margin);
  padding-bottom: 0.5rem;
}
.navOptions{
  color: var(--dark-brown);
}
.cartButton{
  color: var(--dark-brown);
  border: 2px solid var(--dark-brown);
}
.options{
  width: 16%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 1.2rem;
  margin-left: 50%;
}
.searchIcon:hover{
  color: var(--red-brown);
  transition: 0.3s;
}
.cartIcon:hover{
  color: var(--red-brown);
  transition: .3s;
}
.menuIcon:hover{
  color: var(--red-brown);
  transition: .3s;
}


/* home mid 1 */

.imageSec{
  display: grid;
  margin-left: 14%;
  margin-top: 3rem;
  grid-template-columns: repeat(2,1fr);
}
.midHeading{
  font-size: 4rem;
  font-weight: 900;
  color: var(--dark-brown);
}
.midImage{
  width: 65%;
}
.subHeadingMid>div{
  font-weight: 500;
}
.subHeadingMid{
  margin-top: 1.5rem;
}
.orderNowButton{
  font-size: 1rem;
  color: var(--dark-brown);
  background-color: white;
  margin-top: 2rem;
  font-weight: 800;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid var(--dark-brown);
  transition: .3s;
}
.orderNowButton:hover{
  border: 2px solid var(--dark-brown);
  transition: .3s;
}
.mainMid2{
  background-color: var(--buff);
  padding-top: 3rem;
  margin-top: 3rem;
}
/* productpage */
.productHeading{
  font-size: 1.9rem;
  font-weight: 900;
  color: var(--dark-brown);
}
.price{

}